.carousel-content {
    z-index: 20;
    position: absolute;
    /* top: 20%; */
    /* left: 50%; */
    /* width: 30%; */
    color: white;
    height: 100px;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    top: 20%;
    margin-top: -50px;
  }